#bk{
	 position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
        background-image:url("bk1.gif");
        background-size: cover;
}




#score_div{
	border : solid 2px red;
	height: 10%;
}
#note_div{
	border : solid 2px red;
	height: 69%;
	top : 1px;
	float : center;
}
#key_div{
	border : solid 2px red;
	height: 20%;
}

#all_div{
	height: 500px;
	width:500px;
}

#game_end_div{
	height: 200px;
	width:200px;
	border : solid 2px black;
	float: right;
	margin-right: 10%;
}

.note{
	height : 50px;
	background-color: blue;
	top : 400px;
	float : left;
	z-index : 3;
}

.note_none{
	height : 50px;
	background-color: black;
	top : 400px;
	float : left;
	z-index : 3;
}

#btn{
	border : none;
	margin : 20px;
	width : 60px;
	padding-top : 30px;
}

#btn:hover{
	background-image : linear-gradient(to top, #d35400, #e67e22,#f1c40f);
	-webkit-transform : scale(1.0,15.0);
}

.key{
	height : 50px;
	background-color: pink;
	top : 400px;
	float : left;
	text-align: center;
	line-height: 50px;
	font-size :20px;
	z-index : 5;
}

#playButton{
	height: 100px;
	width: 300px;
	margin-top: 20px;
	font-size: 90px;
}

.levelButton{
	height: 30px;
	width: 120px;
	font-size: 20px;
}
