body{
	background-image: url(https://gif.fmkorea.com/files/attach/new/20170830/486616/8770543/759944382/95ee361012763f2b482ed390c29b882a.gif); 
	background-size: cover;
}

div.wrap {
	margin-top: ;
}

div.imgSlide img {
	border: solid 5px #fff;
}

div.imgSlide {
	width:1200px;
	height:700px;
	margin:0 auto;
}
