.img{
        position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
        background-image: url(http://file3.instiz.net/data/file3/2018/03/09/7/c/8/7c89d3c8e238d2e222f144a93fef62d1.gif); 
        background-size: cover;
    }
    .img-cover{
       position: absolute;
       height: 100%;
       width: 100%;
       background-color: rgba(0, 0, 0, 0.2);                                                                 
       z-index:1;
    }
    .content{
         position: absolute;
         top:30%;
         left:50%;
         transform: translate(-50%, -50%);                                                                   
         font-size:5rem;
         color: white;
         z-index: 2;
         text-align: center;
         font-family:;
    }
    .content2{
         position: absolute;
         top:75%;
         left:50%;
         transform: translate(-50%, -50%);                                                                   
         font-size:30px;
         color: white;
         z-index: 2;
         text-align: center;
    }
    a{
        text-decoration: none;
        color: white;
    }

    h6 {
      margin: 20px;
    }
    .img-cover_option{
       position: absolute;
       height: 80%;
       width: 90%;
       background-color: rgba(0, 0, 0, 0.9);                                                                 
       z-index:1;
       top: 10%;
       left: 5%
    }
    .content_option{
         position: absolute;
         top:20%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size: 430%;
         color: white;
         z-index: 2;
         text-align: center;
    }
    .content2_option{
         position: absolute;
         top:65%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size: 127%;
         color: white;
         z-index: 2;
         text-align: center;
    }
    .content3_option{
        position: absolute;
        top: 95%;
        left: 95%;
        transform: translate(-50%, -50%);
        font-size: 127%;
        z-index: 2;
    }
    .img-cover_who{
       position: absolute;
       height: 80%;
       width: 90%;
       background-color: rgba(0, 0, 0, 0.9);                                                                 
       z-index:1;
       top: 10%;
       left: 5%
    }
    .content_who{
         position: absolute;
         top:20%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size: 370%;
         color: white;
         z-index: 2;
         text-align: center;
    }
    .content2_who{
         position: absolute;
         top:60%;
         left:40%;
         transform: translate(-50%, -50%);
         font-size: 127%;
         color: white;
         z-index: 2;
         text-align: center;
         display: block;
    }
    .content3_who{
         position: absolute;
         top:60%;
         left:60%;
         transform: translate(-50%, -50%);
         font-size: 127%;
         color: white;
         z-index: 2;
         text-align: center;
         display: block;
    }
    .content4_who{
        position: absolute;
        top: 95%;
        left: 95%;
        transform: translate(-50%, -50%);
        font-size: 127%;
        z-index: 2;
    }
        .img-cover_how{
       position: absolute;
       height: 80%;
       width: 90%;
       background-color: rgba(0, 0, 0, 0.9);                                                                 
       z-index:1;
       top: 10%;
       left: 5%
    }
    .content_how{
         position: absolute;
         top:20%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size:430%;
         color: white;
         z-index: 2;
         text-align: center;
        font-family: cooper black;
        font-weight: bolder;
    }
    .content2_how{
         position: absolute;
         top:60%;
         left:50%;
         transform: translate(-50%, -50%);
         font-size:130%;
         color: white;
         z-index: 2;
         font-family: cooper black;
    }
    .content3_how{
        position: absolute;
        top: 95%;
        left: 95%;
        transform: translate(-50%, -50%);
        font-size: 127%;
        z-index: 2;
    }

/*Buttons */

    a.animated-button:link, a.animated-button:visited {
  position: relative;
  display: block;
  margin: 1px;
  color: #fff;
  font-size:30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}


a.animated-button.sandy-one {
  height: 2%;
  border: 0px solid #AEA8D3;
  color: #FFF;
}
a.animated-button.sandy-one:after {
  border: 3px solid #AEA8D3;
  opacity: 0;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}
a.animated-button.sandy-one:hover:after {
  height: 50% !important;
  opacity: 1;
  color: #FFF;
}